.container {
    max-width: 500px;
    margin: auto;
    background: white;
    padding: 10px;
}

/* .content video {
    margin-top: 80px;
    border-radius: 10px;
} */

.icons {
    position: relative;
    margin-top:-125px;
    text-align: center;
    margin-left: 170px;
}

.setting {
    position: relative;    
    margin-top:-430px;
    margin-left: 572px;
    background-color:rgb(128,128,128, 0.5);
    font-size: 20px;
    border-radius:50%;
    width: 20px;
    height: 20px;
    padding: 20px;
    color: white;
}

.cross {
    position: relative;   
    color: white;
    margin-left: 630px;
    margin-top:-100px;
    background-color:rgba(128,128,128, 0.3);
    font-size: 11px;
    border-radius:50%;
    width: 10px;
    height: 10px;
    padding: 15px;
}

.first-section {
    margin-top: 50px;
}

.first-section video{
    border-radius: 20px;
}

.delete {
    color: gray;
    font-size: 20px;
    background-color:rgb(128,128,128, 0.5);
    border-radius:50%;
    width: 20px;
    height: 20px;
    padding: 20px;
}

.record {
    margin-top: 10px;
    color: red;
    font-size: 30px;
    background-color:rgb(128,128,128, 0.5);
    border-radius:50%;
    width: 30px;
    height: 30px;
    padding: 20px;
}

.send {
    color: gray;
    font-size: 20px;
    background-color:rgb(128,128,128, 0.5);
    border-radius:50%;
    width: 20px;
    height: 20px;
    padding: 20px;
}

/* Second Section  */

.second-section {
    margin-top: 500px;
}

.time {
    position: relative;
    color: white;
    margin-top: -175px;
    margin-left: 120px;
}

.icons2 {
    margin-top:-430px
}

.second-section video{
    border-radius: 20px;
}

/* Third Section  */

.third-section {
    margin-top:500px;
}

.third-section video{
    border-radius: 20px;
}

.play {
    position:absolute;
    color: white;
    margin-top:-280px;
    margin-left: 320px;
    font-size: 30px
}

h2 {
    text-align: center
}




